In [130]:
#  download the train dataset---           https://www.kaggle.com/c/fake-news/data?select=train.csv

In [131]:
# download the test-dataset --             https://www.kaggle.com/c/fake-news/data?select=test.csv

In [132]:
import pandas as pd

In [87]:
df=pd.read_csv("train.csv")

In [88]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [90]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [91]:
df2=df.dropna()

In [92]:
df3=df2.set_index("id")

In [93]:
df3.tail()

,title,author,text,label
id,,,,
20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [94]:
df3.isnull().sum()

title     0
author    0
text      0
label     0
dtype: int64

In [95]:
df3.shape

(18285, 4)

In [96]:
blanks=[]
for i,title,author,text,label in df3.itertuples():
    if text.isspace():
        blanks.append(i)

In [97]:
blanks

[82,
 169,
 295,
 470,
 592,
 871,
 901,
 936,
 950,
 1591,
 2163,
 2228,
 2382,
 2684,
 3319,
 3322,
 3957,
 4275,
 4718,
 4902,
 5012,
 5101,
 5563,
 5709,
 6119,
 6220,
 6443,
 6646,
 6976,
 7980,
 8340,
 8625,
 8802,
 9035,
 9571,
 9663,
 9854,
 10071,
 10153,
 10465,
 10627,
 11349,
 11373,
 11718,
 12129,
 12145,
 12374,
 12414,
 13008,
 13453,
 13680,
 13872,
 15102,
 15255,
 15299,
 15959,
 16347,
 16561,
 16715,
 17417,
 17530,
 17794,
 17813,
 17819,
 17960,
 18675,
 18998,
 19672,
 19850,
 19857,
 19929,
 20242,
 20264,
 20513]

In [98]:
df3.iloc[71,:]

title     Huma’s Weiner Dogs Hillary
author                  Steve Sailer
text
label                              1
Name: 82, dtype: object

In [99]:
df3.drop(blanks,inplace=True)

In [100]:
blanksss=[]
for i,title,author,text,label in df3.itertuples():
    if text.isspace():
        blanksss.append(i)

In [101]:
X=df3["text"]

In [102]:
y=df3["label"]

In [103]:
from sklearn.model_selection import train_test_split

In [104]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [105]:
from sklearn.feature_extraction.text import TfidfVectorizer ,ENGLISH_STOP_WORDS

In [106]:
from sklearn.pipeline import Pipeline

In [107]:
from sklearn.svm import LinearSVC

In [108]:
slides=[("tfidf",TfidfVectorizer(stop_words=ENGLISH_STOP_WORDS)),("svc",LinearSVC())]

In [109]:
pipe=Pipeline(slides)

In [110]:
pipe.fit(X_train,y_train)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,...ax_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [111]:
prediction=pipe.predict(X_test)

In [112]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [113]:
confusion_matrix(y_test,prediction)

array([[3031,   93],
       [ 120, 2220]], dtype=int64)

In [114]:
accuracy_score(y_test,prediction)

0.96101756954612

In [115]:
test=pd.read_csv("test.csv")

In [116]:
test.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [117]:
test2=test.dropna()

In [118]:
test3=test2.set_index("id")

In [119]:
blanks1=[]
for i,title,author,text in test3.itertuples():
    if text.isspace():
        blanks1.append(i)

In [120]:
test3.drop(blanks1,inplace=True)

In [121]:
text_x=test3["text"]

In [122]:
pred=pipe.predict(text_x)

In [123]:
pd.DataFrame(pred).head(30)

    0
0   0
1   1
2   0
3   1
4   0
5   1
6   1
7   1
8   1
9   1
10  1
11  0
12  0
13  0
14  1
15  0
16  1
17  1
18  1
19  0
20  1
21  0
22  0
23  1
24  0
25  1
26  0
27  0
28  0
29  0

In [125]:
single_pred=X_test[3]

In [127]:
pred_single=pipe.predict([single_pred])

In [128]:
pred_single

array([1], dtype=int64)

In [129]:
y_test[3]

1